[user]
	name = 
	email = 
[alias]
	st = status
	ci = commit
	co = checkout
	cp = cherry-pick
	cpc = cherry-pick --continue
	rbc = rebase --continue
	df = diff
	dfc = diff --cached
	ol = log --oneline

#git config --global merge.tool kdiff3
#git config --global mergetool.kdiff3.path "C:/Program Files/KDiff3/kdiff3.exe"
#git config --global mergetool.kdiff3.trustExitCode false
#
#git config --global diff.guitool kdiff3
#git config --global difftool.kdiff3.path "C:/Program Files/KDiff3/kdiff3.exe"
#git config --global difftool.kdiff3.trustExitCode false
#[merge]
#	tool = kdiff3
#[diff]
#	tool = kdiff3
#[difftool "kdiff3"]
#	trustExitCode = false
#[mergetool "kdiff3"]
#	trustExitCode = false
#	path = C:\\Program Files\\KDiff3\\kdiff3.exe
#[diffetool "kdiff3"]
#	path = C:\\Program Files\\KDiff3\\kdiff3.exe
