[user]
	name = 
	email = 
[alias]
	st = status
	ci = commit
	co = checkout
	rbc = rebase --continue
	df = diff
[mergetool "kdiff3"]
    path = C:/Program Files/KDiff3/kdiff3.exe
    keepBackup = false
    trustExitCode = false
[diff]
	tool = kdiff3
[merge]
	tool = kdiff3
