[user]
	name = 
	email = 
[alias]
	st = status
	ci = commit
	co = checkout
	cp = cherry-pick
	cpc = cherry-pick --continue
	rbc = rebase --continue
	df = diff
	dfc = diff --cached
	ol = log --oneline
